---
import Layout from '../layouts/DefaultLayout.astro'
import MotivationBlock from '../components/MotivationBlock.astro'
---
<Layout>
  <MotivationBlock />
  <main>
    <h1>Contacto seguro</h1>
    <p>Dirección ProtonMail: <strong>corvusleaks@protonmail.com</strong></p>
    <p>
      <a href="/pgp-key.asc" download>Descargar clave pública PGP</a><br />
      Fingerprint: <code>AB12 CDEF 3456 7890 1234 5678 90AB CDEF 1234 5678</code>
    </p>
    <p>Usa <strong>PGP</strong> para cifrar tu mensaje y protégete usando <strong>Tor/Tails</strong>.</p>
  </main>
</Layout>