---
import Layout from '../layouts/DefaultLayout.astro'
import MotivationBlock from '../components/MotivationBlock.astro'
---
<Layout>
  <MotivationBlock />
  <main>
    <h1>Guía OPSEC</h1>
    <ol>
      <li>Crear cuenta ProtonMail anónima usando Tor/Tails</li>
      <li>Descargar clave pública PGP <a href="/pgp-key.asc">aquí</a></li>
      <li>Cifrar tu mensaje/evidencia con PGP</li>
      <li>Borrar metadatos de archivos (ver instructivo)</li>
      <li>Enviar por ProtonMail cifrado</li>
      <li>Nunca uses formularios web.</li>
    </ol>
    <p>Mantente seguro. <a href="/contacto">Contacto seguro</a></p>
  </main>
</Layout>